.login-container {
  background-color: rgb(224, 239, 230);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
  display: flex;
  flex-flow: column wrap;
  margin: 150px auto;
  padding: 10px;
  text-align: center;
  width: 40%;
}

.login-container input {
  padding: 5px;
  margin-bottom: 10px;
}

.btn-login,
.btn-registration {
  background-color: seagreen;
  border: 1px solid seagreen;
  border-radius: 5px;
  color: white;
  padding: 5px;
  transition: transform 100ms;
}

.btn-login:disabled {
  background-color: rgb(192, 224, 206);
  border: 1px solid rgb(192, 224, 206);
}

.btn-login:hover {
  cursor: pointer;
}

.btn-login:active {
  transform: scale(0.98);
}

.btn-registration {
  background-color: white;
  color: black;
  transition: background-color 700ms, transform 100ms;
}

.btn-registration:hover {
  background-color: seagreen;
  color: white;
  cursor: pointer;
}

.btn-registration:active {
  transform: scale(0.98);
}

@media screen and (max-width: 700px) {
  .login-container {
    margin: 200px auto;
    width: 75%;
  }
}